/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
  padding-bottom: 20px;
	background: url("../img/gl_tlo.png");
	background-repeat: repeat-x repeat-y;
}
footer{
	height: 50px;
	padding-top: 15px;
	margin-top: 15px;
	background: url("../img/tlo.png");
	background-repeat: repeat-x repeat-y;
}
#banner { 
	padding: 20% 0;
	background: url("../img/slajd1.png") no-repeat center center;
	background-size: cover;
}
#fcb{
	background: url("../img/fcb.png") no-repeat center center;
	background-size: contain;
	padding: 5% 10%;
	float: right;
}
.jumbotron{margin-bottom: 0px;}

.gray_row{background-color: white; }

img#ikona{ margin-bottom: 5px; }

img.fot{ float: right; }

b.act{color: black;}

img.eko{
float: right;
margin: 10%;
}
.nav > li { vertical-align: middle; }
.nav > li > a { 
	white-space: nowrap;
	padding: 0;
}
.navbar-inverse{
	background: url("../img/tlo.png");
	background-repeat: repeat-x repeat-y;
}
.navbar-brand{
	padding-top: 5px;
	padding-left: 0%;
}
img#logo{ 
	padding-top: 5px;
	height: 70px;
}
.navbar-header{ height: 70px; }

b{ color: white; }
b:hover,b:focus{ color: black; }

#mzs{ margin-bottom: 0; }

#face{
padding-top: 30px;
padding-bottom: 30px;
padding-right: 0;
background-color: white;
}
.facebook{ float: right; }
.facebook#okrag1{
	background: url("../img/okrag.png") no-repeat center center;
	background-size: contain;
	width: 110px;
	height: 110px;
margin-left: 18%;
float: left;
text-align: center;
vertical-align: middle;
}
.facebook#okrag{
	background: url("../img/okrag.png") no-repeat center center;
	background-size: contain;
	width: 110px;
	height: 110px;
margin-left: 3%;
float: left;
text-align: center;
vertical-align: middle;
}
hr{border-color: #000;  }
#staramy{margin-top: 0.8em;}
p{text-indent: 2em;}
img#contencik{
float: left;
margin-top: 5em;
margin-left: 3em;
}
img#zapraszamy{
	float: right;
}
